{% extends "base.html" %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="row">
      {% for account in user.accounts.all %}
        <div class="row">
          <h1>{{ account.address }}</h1>
          {{ account.callback_url }}
          {% for e in account.emails.all %}
            <div>
              <strong>To: </strong> {{ e.address }}@{{ e.host }}
              <strong>Date:</strong> {{ e.parsed_message.date }}
              <strong>Subject:</strong> {{ e.parsed_message.subject }}
              <br>
              <strong>Text: </strong>
  <pre>{{ e.text }}</pre>
              <br>
              <strong>HTML: </strong>
  <pre>{{ e.html }}</pre>
              <br>
              {% if e.attachments %}
                <strong>Attachemnts:</strong>
                <ul>
                  {% for a in e.attachments %}
                    <li>{{ a }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    {% else %}


    {% endif %}
  {% endblock %}
