amqp==2.4.0
anyjson==0.3.3
appnope==0.1.0
autopep8==1.4.3
backcall==0.1.0
beautifulsoup4==4.7.1
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
decorator==4.3.2
Django==2.1.5
django-celery==3.2.2
django-celery-results==1.0.4
django-debug-toolbar==1.11
django-extensions==2.1.4
django-filter==2.1.0
djangorestframework==3.9.1
dnspython==1.16.0
docutils==0.14
flake8==3.6.0
httpie==1.0.2
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
kombu==4.2.2.post1
lmtpd==6.0.0
lockfile==0.12.2
mccabe==0.6.1
parso==0.3.2
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.8
ptyprocess==0.6.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.3.1
python-daemon==2.1.2
pytz==2018.9
requests==2.21.0
salmon-mail==3.1.0
six==1.12.0
soupsieve==1.7.3
sqlparse==0.2.4
traitlets==4.3.2
urllib3==1.24.1
vine==1.2.0
wcwidth==0.1.7
Werkzeug==0.14.1
