-e  git+https://github.com/readevalprint/mailpipe-app.git#egg=mailpipe
sentry-sdk
Django
Werkzeug
django-debug-toolbar
django-extensions
django-filter
djangorestframework
flake8
ipython
pep8
pyflakes
requests
six
uwsgi
